<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ecf.provider.twitter.ui.hub.category"
            class="org.eclipse.ecf.provider.twitter.ui.hub.views.TweetViewPart"
            icon="icons/Twitter_32(2).png"
            id="org.eclipse.ecf.provider.twitter.ui.hub.tweetView"
            name="Tweet"
            restorable="true">
      </view>
      <category
            id="org.eclipse.ecf.provider.twitter.ui.hub.category"
            name="TweetHub">
      </category>
      <view
            category="org.eclipse.ecf.provider.twitter.ui.hub.category"
            class="org.eclipse.ecf.provider.twitter.ui.hub.views.FriendsViewPart"
            icon="icons/Buddy Group_32.png"
            id="org.eclipse.ecf.provider.twitter.ui.hub.friendsView"
            name="Following"
            restorable="true">
      </view>
      <view
            category="org.eclipse.ecf.provider.twitter.ui.hub.category"
            class="org.eclipse.ecf.provider.twitter.ui.hub.views.MessagesViewPart"
            icon="icons/Buddy Chat_32.png"
            id="org.eclipse.ecf.provider.twitter.ui.hub.messagesView"
            name="Messages"
            restorable="true">
      </view>
      <view
            category="org.eclipse.ecf.provider.twitter.ui.hub.category"
            class="org.eclipse.ecf.provider.twitter.ui.hub.views.ReplyViewPart"
            icon="icons/Chat 2_32.png"
            id="org.eclipse.ecf.provider.twitter.ui.hub.replyView"
            name="Mentions"
            restorable="true">
      </view>
      <view
            category="org.eclipse.ecf.provider.twitter.ui.hub.category"
            class="org.eclipse.ecf.provider.twitter.ui.hub.views.DirectMessagesViewPart"
            icon="icons/Mail 1_32.png"
            id="org.eclipse.ecf.provider.twitter.ui.hub.directMessagesView"
            name="Direct Messages"
            restorable="true">
      </view>
      <view
            category="org.eclipse.ecf.provider.twitter.ui.hub.category"
            class="org.eclipse.ecf.provider.twitter.ui.hub.views.SearchViewPart"
            icon="icons/search2.png"
            id="org.eclipse.ecf.provider.twitter.ui.hub.searchView"
            name="Search"
            restorable="true">
      </view>
      <view
            category="org.eclipse.ecf.provider.twitter.ui.hub.category"
            class="org.eclipse.ecf.provider.twitter.ui.hub.views.FollowersViewPart"
            icon="icons/Buddy Group_32.png"
            id="org.eclipse.ecf.provider.twitter.ui.hub.followersView"
            name="Followers"
            restorable="true">
      </view>
      <view
            category="org.eclipse.ecf.provider.twitter.ui.hub.category"
            class="org.eclipse.ecf.provider.twitter.ui.hub.views.TrendViewPart"
            icon="icons/graph.png"
            id="org.eclipse.ecf.provider.twitter.ui.hub.trendView"
            name="Trends"
            restorable="true">
      </view>
      <view
            category="org.eclipse.ecf.provider.twitter.ui.hub.category"
            class="org.eclipse.ecf.provider.twitter.ui.hub.views.SendDirectMessagePart"
            icon="icons/Mail 1_32.png"
            id="org.eclipse.ecf.provider.twitter.ui.hub.sendDM"
            name="Direct Message"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.eclipse.ecf.provider.twitter.ui.hub.mainMenu"
               label="TweetHub">
            <command
                  commandId="org.eclipse.ecf.provider.twitter.ui.hub.login"
                  label="Login"
                  style="push">
            </command>
            <menu
                  label="Views">
               <command
                     commandId="org.eclipse.ecf.provider.twitter.ui.hub.showTweetWindow"
                     label="TweetView"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.ecf.provider.twitter.ui.hub.showMessages"
                     label="Messages"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.ecf.provider.twitter.ui.hub.showMentions"
                     label="Mentions"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.ecf.provider.twitter.ui.hub.showDirect"
                     label="Direct Messages"
                     style="push">
               </command>
               <separator
                     name="org.eclipse.ecf.provider.twitter.ui.hub.separator2"
                     visible="true">
               </separator>
               <command
                     commandId="org.eclipse.ecf.provider.twitter.ui.hub.showFollowing"
                     label="Following"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.ecf.provider.twitter.ui.hub.showFollowers"
                     label="Followers"
                     style="push">
               </command>
               <separator
                     name="org.eclipse.ecf.provider.twitter.ui.hub.separator3"
                     visible="true">
               </separator>
               <command
                     commandId="org.eclipse.ecf.provider.twitter.ui.hub.showTrends"
                     label="Trends"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ecf.provider.twitter.ui.logic.TwitterLoginHandler"
            id="org.eclipse.ecf.provider.twitter.ui.hub.login"
            name="Login">
      </command>
      <command
            defaultHandler="org.eclipse.ecf.internal.provider.twitter.ui.windows.ShowViewHandler"
            id="org.eclipse.ecf.provider.twitter.ui.hub.showTweetWindow"
            name="TweetView">
      </command>
      <command
            defaultHandler="org.eclipse.ecf.internal.provider.twitter.ui.windows.ShowViewHandler"
            id="org.eclipse.ecf.provider.twitter.ui.hub.showFollowers"
            name="Followers">
      </command>
      <command
            defaultHandler="org.eclipse.ecf.internal.provider.twitter.ui.windows.ShowViewHandler"
            id="org.eclipse.ecf.provider.twitter.ui.hub.showFollowing"
            name="Following">
      </command>
      <command
            defaultHandler="org.eclipse.ecf.internal.provider.twitter.ui.windows.ShowViewHandler"
            id="org.eclipse.ecf.provider.twitter.ui.hub.showMessages"
            name="Messages">
      </command>
      <command
            defaultHandler="org.eclipse.ecf.internal.provider.twitter.ui.windows.ShowViewHandler"
            id="org.eclipse.ecf.provider.twitter.ui.hub.showMentions"
            name="Mentions">
      </command>
      <command
            defaultHandler="org.eclipse.ecf.internal.provider.twitter.ui.windows.ShowViewHandler"
            id="org.eclipse.ecf.provider.twitter.ui.hub.showDirect"
            name="Direct Messages">
      </command>
      <command
            defaultHandler="org.eclipse.ecf.internal.provider.twitter.ui.windows.ShowViewHandler"
            id="org.eclipse.ecf.provider.twitter.ui.hub.showTrends"
            name="Trends">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ecf.provider.twitter.ui.hub.preferences.TweetHubPreferences"
            id="org.eclipse.ecf.provider.twitter.ui.hub.preferences.TweetHub"
            name="TweetHub Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ecf.provider.twitter.ui.hub.preferences.PreferenceInitializer">
      </initializer>
   </extension>


</plugin>
